<div class="grid grid-cols-2 gap-4 2xl:gap-6">
  <div class="bg-purple-600 text-center p-4 sm:p-2.5 lg:p-6 2xl:py-20 rounded-3xl 2xl:max-h-64 2xl:max-w-64">
    <h3 class="text-2xl 2xl:text-3xl pt-8 xl:pt-9 2xl:pt-0 font-bold">2+ {{'yearsExperience' | translate }}</h3>
  </div>
  <div class="bg-gray-800 p-6 rounded-3xl flex justify-center items-center 2xl:max-h-64 2xl:max-w-64">
    <div class="grid grid-cols-2 gap-4">
      <a
        href="https://www.linkedin.com/in/ananias-caetano-935a8513b/"
        target="_blank"
        rel="noreferrer"
      >
        <img
          src="social-media-images/link-to-linkedin-icon.png"
          alt="LinkedIn"
          class="w-13 h-13 rounded-full bg-white p-2"
        />
      </a>
      <a 
        href="https://github.com/ananiasc" 
        target="_blank" 
        rel="noreferrer"
      >
        <img
          src="social-media-images/link-to-github-icon.png"
          alt="GitHub"
          class="w-13 h-13 rounded-full bg-white p-2"
        />
      </a>
      <a
        href="https://instagram.com/ananiasc.dev?igshid=MDM4ZDc5MmU="
        target="_blank"
        rel="noreferrer"
      >
        <img
          src="social-media-images/link-to-instagram-icon.png"
          alt="Instagram"
          class="w-13 h-13 rounded-full bg-white p-2"
        />
      </a>
      <div class="w-13 h-13 rounded-full bg-white p-2"></div>
    </div>
  </div>
</div>
