<div class="container mx-auto p-8 min-h-screen m-4 px-4 md:px-20 lg:px-60 2xl:px-96">
  <h1 class="text-4xl font-bold text-center text-fuchsia-600 mb-8">Projetos</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <!-- Projeto 1 -->
    <div class="bg-white p-6 rounded-lg shadow-lg flex items-center relative group">
      <h2 class="text-xl font-bold">Ananias Caetano</h2>
      <div
        class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity bg-black bg-opacity-50 rounded-lg">
        <div class="flex gap-2">
          <a href="https://github.com/ananiasc" target="_blank" rel="noreferrer"
            class="bg-purple-500 text-white px-4 py-2 rounded-lg">
            Ir para o meu perfil do GitHub
          </a>
        </div>
      </div>
    </div>
    <!-- Projeto 2 -->
    <div class="bg-white p-6 rounded-lg shadow-lg relative group">
      <h2 class="text-xl font-bold mb-4">advplayer</h2>
      <p class="text-gray-400 mb-4 text-justify">
        Trata-se de uma aplicação de play de vídeos com recursos de acessibilidade virtual para pessoas com deficiência visual.
      </p>
      <div class="flex gap-2 mt-4">
        <span class="bg-purple-700 text-white px-3 py-1 rounded-full text-sm">JavaScript</span>
        <span class="bg-purple-700 text-white px-3 py-1 rounded-full text-sm">HTML</span>
        <span class="bg-purple-700 text-white px-3 py-1 rounded-full text-sm">CSS</span>
      </div>
      <div
        class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity bg-black bg-opacity-50 rounded-lg">
        <div class="flex">
          <a href="https://www.advplayer.com.br" target="_blank" rel="noreferrer"
            class="bg-purple-500 text-white px-4 py-2 rounded-lg">Ir para o site</a>
        </div>
      </div>
    </div>
    <!-- Projeto 3 -->
    <div class="bg-white p-6 rounded-lg shadow-lg relative group">
      <h2 class="text-xl font-bold mb-4">market-manager-backend</h2>
      <p class="text-gray-400 mb-4 text-justify">
        Backend de um sistema E-commerce. Junto ao market-manager,são os responsáveis por gerenciar produtos, clientes, pedidos, estoque, etc.
      </p>
      <div class="flex gap-2 mt-4">
        <span class="bg-purple-700 text-white px-3 py-1 rounded-full text-sm">Java</span>
      </div>
      <div
        class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity bg-black bg-opacity-50 rounded-lg">
        <div class="flex">
          <a href="https://github.com/ananiasc/market-manager-backend" target="_blank" rel="noreferrer"
            class="bg-fuchsia-500 text-white px-4 py-2 rounded-lg">Ir para o GitHub</a>
        </div>
      </div>
    </div>
    <!-- Projeto 4 -->
    <div class="bg-white p-6 rounded-lg shadow-lg relative group">
      <h2 class="text-xl font-bold mb-4">market-manager</h2>
      <p class="text-gray-400 mb-4 text-justify">
        Apresenta a parte visual de um portal de gerenciamento do lojista acompanhando todo o E-commerce e controlando o seu funcionamento.
      </p>
      <div class="flex gap-2 mt-4">
        <span class="bg-purple-700 text-white px-3 py-1 rounded-full text-sm">TypeScript</span>
        <span class="bg-purple-700 text-white px-3 py-1 rounded-full text-sm">HTML</span>
        <span class="bg-purple-700 text-white px-3 py-1 rounded-full text-sm">SCSS</span>
      </div>
      <div
        class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity bg-black bg-opacity-50 rounded-lg">
        <div class="flex gap-2">
          <a href="https://github.com/ananiasc/market-manager" target="_blank" rel="noreferrer"
            class="bg-fuchsia-500 text-white px-4 py-2 rounded-lg">
            Ir para o GitHub
          </a>
          <a href="https://market.ananiasc.dev/login" target="_blank" rel="noreferrer"
            class="bg-purple-500 text-white px-4 py-2 rounded-lg">
            Ir para o site
          </a>
        </div>
      </div>
    </div>
    <!-- Projeto 5 -->
    <!-- <div class="bg-white p-6 rounded-lg shadow-lg relative group">
      <h2 class="text-xl font-bold mb-4">market-frontend</h2>
      <p class="text-gray-400 mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <div class="flex gap-2 mt-4">
        <span class="bg-purple-700 text-white px-3 py-1 rounded-full text-sm">TypeScript</span>
        <span class="bg-purple-700 text-white px-3 py-1 rounded-full text-sm">HTML</span>
        <span class="bg-purple-700 text-white px-3 py-1 rounded-full text-sm">SCSS</span>
      </div>
      <div class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity bg-black bg-opacity-50 rounded-lg">
        <div class="flex gap-2">
          <a href="https://github.com/your-repo" target="_blank" rel="noreferrer" class="bg-fuchsia-500 text-white px-4 py-2 rounded-lg">Ir para o GitHub</a>
          <a href="https://yourwebsite.com" target="_blank" rel="noreferrer" class="bg-purple-500 text-white px-4 py-2 rounded-lg">Ir para o site</a>
        </div>
      </div>
    </div> -->
    <!-- Projeto 6 -->
    <!-- <div class="bg-white p-6 rounded-lg shadow-lg relative group">
      <h2 class="text-xl font-bold mb-4">market-backend</h2>
      <p class="text-gray-400 mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <div class="flex gap-2 mt-4">
        <span class="bg-purple-700 text-white px-3 py-1 rounded-full text-sm">Java</span>
      </div>
      <div class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity bg-black bg-opacity-50 rounded-lg">
        <div class="flex">
          <a href="https://github.com/your-repo" target="_blank" rel="noreferrer" class="bg-fuchsia-500 text-white px-4 py-2 rounded-lg">Ir para o GitHub</a>
        </div>
      </div>
    </div> -->
  </div>
</div>
