<div class="container mx-auto p-8 min-h-screen m-4 px-4 md:px-20 lg:px-60 2xl:px-96">
  <h1 class="text-4xl font-bold text-center text-fuchsia-600 mb-8">Projetos</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <!-- Projeto 1 -->
    <div class="bg-white p-6 rounded-lg shadow-lg flex items-center">
      <h2 class="text-xl font-bold mb-4">Ananias Caetano</h2>
    </div>
    <!-- Projeto 2 -->
    <div class="bg-white p-6 rounded-lg shadow-lg">
      <h2 class="text-xl font-bold mb-4">advplayer</h2>
      <p class="text-gray-400 mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <div class="flex gap-2 mt-4">
        <span class="bg-purple-700 text-white px-3 py-1 rounded-full text-sm">JavaScript</span>
        <span class="bg-purple-700 text-white px-3 py-1 rounded-full text-sm">HTML</span>
        <span class="bg-purple-700 text-white px-3 py-1 rounded-full text-sm">CSS</span>
      </div>
    </div>
    <!-- Projeto 3 -->
    <div class="bg-white p-6 rounded-lg shadow-lg">
      <h2 class="text-xl font-bold mb-4">market-manager-backend</h2>
      <p class="text-gray-400 mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <div class="flex gap-2 mt-4">
        <span class="bg-purple-700 text-white px-3 py-1 rounded-full text-sm">Java</span>
      </div>
    </div>
    <!-- Projeto 4 -->
    <div class="bg-white p-6 rounded-lg shadow-lg">
      <h2 class="text-xl font-bold mb-4">market-manager-frontend</h2>
      <p class="text-gray-400 mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <div class="flex gap-2 mt-4">
        <span class="bg-purple-700 text-white px-3 py-1 rounded-full text-sm">TypeScript</span>
        <span class="bg-purple-700 text-white px-3 py-1 rounded-full text-sm">HTML</span>
        <span class="bg-purple-700 text-white px-3 py-1 rounded-full text-sm">SCSS</span>
      </div>
    </div>
    <!-- Projeto 5 -->
    <div class="bg-white p-6 rounded-lg shadow-lg">
      <h2 class="text-xl font-bold mb-4">market-frontend</h2>
      <p class="text-gray-400 mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <div class="flex gap-2 mt-4">
        <span class="bg-purple-700 text-white px-3 py-1 rounded-full text-sm">TypeScript</span>
        <span class="bg-purple-700 text-white px-3 py-1 rounded-full text-sm">HTML</span>
        <span class="bg-purple-700 text-white px-3 py-1 rounded-full text-sm">SCSS</span>
      </div>
    </div>
    <!-- Projeto 6 -->
    <div class="bg-white p-6 rounded-lg shadow-lg">
      <h2 class="text-xl font-bold mb-4">market-backend</h2>
      <p class="text-gray-400 mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <div class="flex gap-2 mt-4">
        <span class="bg-purple-700 text-white px-3 py-1 rounded-full text-sm">Java</span>
      </div>
    </div>
  </div>
</div>
