<div [ngClass]="showModal() ? 'scale-100 opacity-100' : 'scale-0 opacity-0'" 
  class="overflow-y-scroll bg-gray-800 bg-opacity-50 transition-opacity duration-500 fixed lg:flex lg:h-full inset-0 z-10 text-white items-center justify-center min-h-screen px-4 md:px-44 lg:px-60 xl:px-72 2xl:px-144" 
  aria-labelledby="modal-title" 
  role="dialog" 
  aria-modal="true"
  (click)="closeModalOnOutSideClick($event)"
>
  <div class="bg-gray-800 p-6 rounded-lg shadow-lg sm:max-w-sm md:max-w-md lg:max-w-lg xl:max-w-2xl 2xl:max-w-3xl">
    <div class="flex justify-between items-start border-l-4 border-pink-500 pl-4 mb-4">
      <h2 class="text-2xl font-bold text-pink-600">{{ 'aboutMe' | translate }}</h2>
      <button (click)="closeModal()" class="bg-pink-700 hover:bg-pink-500 transition-colors duration-500 text-white font-bold py-2 px-4 rounded-full">
        <img src="/icons/close-icon.png"  class="h-4 w-4 m-1"  alt="close icon">
      </button>
    </div>

    <div class="p-6">
      <h1 class="text-2xl font-bold text-pink-600">{{ 'hiImAnanias' | translate }}</h1>
      <p class="mt-6 text-lg text-gray-300 text-justify">
        {{ 'about-me-description' | translate }} 😊
      </p>
    </div>
  </div>
</div>