<div class="grid grid-cols-2 h-64 gap-4 2xl:gap-6">
  <div class="bg-[url('/profile/profile-photo.jpg')] bg-cover bg-center text-center p-4 rounded-3xl 2xl:h-96 2xl:max-w-64">
    <h3 class="text-2xl pt-40 2xl:pt-64 text-center font-bold">{{ 'aboutMe' | translate }}</h3>
  </div>
  <div class="bg-[url('/education-history/education-history.png')] bg-cover bg-center text-center p-4 rounded-3xl 2xl:h-96 2xl:max-w-64">
    <h3 class="text-2xl pt-36 2xl:pt-64 text-center font-bold">{{ 'educationHistory' | translate }}</h3>
  </div>
</div>
