<main class="main">
  <div class="bg-gray-900 text-white min-h-screen m-4 px-4 md:px-20 lg:px-60 mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-2">
      <div class="space-y-0">
        <app-header></app-header>
        <app-resume-and-language-control></app-resume-and-language-control>
        <app-experience></app-experience>
        <app-portfolio></app-portfolio>
      </div>
      <div class="space-y-0">
        <app-work-experience></app-work-experience>
        <app-education-history-and-about-me></app-education-history-and-about-me>
      </div>
    </div>
  </div>
</main>

<router-outlet />
