<main class="main">
  <div class="bg-gray-900 text-white min-h-screen m-4 px-4 md:px-20 lg:px-60 2xl:px-80 mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-2">
      <div class="space-y-2 mb-2 lg:mb-0">
        <div class="p-2 2xl:p-4">
          <app-header></app-header>
        </div>
        <div class="p-2 2xl:p-4">
          <app-resume-and-language-control></app-resume-and-language-control>
        </div>
        <div class="p-2 2xl:p-4">
          <app-experience></app-experience>
        </div>
        <div class="p-2 2xl:p-4">
          <app-portfolio></app-portfolio>
        </div>
      </div>
      <div class="space-y-2">
        <div class="p-2 2xl:p-4">
          <app-work-experience></app-work-experience>
        </div>
        <div class="p-2 2xl:p-4">
          <app-education-history-and-about-me></app-education-history-and-about-me>
        </div>
      </div>
    </div>
  </div>
</main>

<router-outlet />
