<div [ngClass]="{
  'visible opacity-100 scale-100': showModal, 
  'invisible opacity-0 scale-0': !showModal
}" 
class="overflow-y-scroll bg-gray-800 bg-opacity-50 transition-opacity duration-500 fixed inset-0 z-10 text-white items-center justify-center min-h-screen px-4 md:px-44 lg:px-60 xl:px-72 2xl:px-144" 
aria-labelledby="modal-title" 
role="dialog" 
aria-modal="true"
>
<div class="bg-gray-800 p-6 rounded-lg shadow-lg sm:max-w-sm md:max-w-md lg:max-w-lg xl:max-w-2xl 2xl:max-w-3xl">
  <div class="flex justify-between items-start border-l-4 border-blue-500 pl-4 mb-4">
    <h2 class="text-2xl font-bold text-blue-500">{{ 'educationHistory' | translate }}</h2>
    <button (click)="toggleModal()" class="bg-blue-700 hover:bg-blue-600 transition-colors duration-500 text-white font-bold py-2 px-4 rounded-full">
      {{ 'back' | translate }}
    </button>
  </div>

  <div class="space-y-4 space-x-4 mb-3" *ngFor="let education of educations">
    <div>
      <h3 class="text-xl font-semibold">{{ education.title }}</h3>
      <p class="text-gray-400">{{ education.institution }}</p>
      <p class="text-gray-400">{{ education.period }}</p>
    </div>
    <p class="text-justify">
      {{ education.educationDescription }}
    </p>
  </div>
</div>
</div>